@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 248 35% 8%;
  --color-secondary: 234 32% 17%;
  --text-color-primary: 240 9% 91%;
  --text-color-secondary: 243 10% 66%;
  --menu-width: clamp(375px, 45%, 498px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */